/* .notification_container {
  position: absolute;
  right: 2rem;
  top: 4rem;
  width: 22rem;
  border: 2px solid var(--gray_0);
  border-radius: 1rem;
  background: var(--light);
  font-size: 0.85em;
  max-height: 25rem;
  overflow-y: auto;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

.notification_container__notifications {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid var(--gray_1);
  transition: background 0.3s ease;
}

.notification_container__notifications:hover {
  background: var(--light_blue);
  cursor: pointer;
}

.notification_container__clear_all {
  padding: 0.75rem;
  background: var(--blue);
  color: var(--light);
  text-align: center;
  border-radius: 0 0 1rem 1rem;
}

.notification_container__clear_all button {
  background: none;
  border: none;
  color: var(--light);
  font-weight: bold;
  font-size: 0.9em;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.notification_container__notifications__icon {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  background: var(--light_blue);
  color: var(--blue);
  font-size: 1.4em;
}

.notification_container__notifications__icon.empty {
  background: var(--light_green);
  color: var(--green);
}

.notification_container__notifications__desc {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.notification_container__notifications__desc .sender {
  font-weight: 600;
  color: var(--dark);
}

.notification_container__notifications__desc__comment {
  color: var(--gray_2);
}

.notification_time {
  font-size: 0.7em;
  color: var(--gray_2);
}

.notification_container__notifications__clear {
  width: 1.8rem;
  height: 1.8rem;
  background-color: var(--gray_0);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--dark);
  transition: background 0.3s ease;
}

.notification_container__notifications__clear:hover {
  background: var(--red_light);
  color: white;
}

.fade-in {
  animation: fadeIn 0.4s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.notifications-dropdown {
  position: absolute;
  top: 60px;
  right: 80px;
  width: 350px;
  max-height: 400px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  z-index: 1000;
  overflow-y: auto;
  padding: 10px;
}
 */
